footer {
    width: 100vw;
    height: 55vh;
}

.footer__contents {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid black;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 45px;
}

.footer__contents__top {
    display: flex;
    justify-content: space-between;
}

.footer__contents__top__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__contents__top__left__contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__contents__title > span {
    font-size: 13px;
    font-weight: 900;
    color: #666;
}

.footer__contents__top__left__contact__con {
    font-size: 30px;
    font-weight: 800;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__contents__top__left__contact__con__email > span:hover {
    cursor: pointer;
}

.footer__contents__top__left__location {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__contents__top__left__location__load {
    border: 1px solid rgb(221, 221, 221);
    padding: 15px;
    width: 500px;

    display: flex;
    justify-content: space-between;
}

.footer__contents__top__left__location__load:hover {
    cursor: pointer;
    background-color: rgb(236, 235, 235);
}

.footer__contents__top__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__contents__top__right__box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: #888;
    font-size: 20px;
    padding-right: 150px;
}

.footer__contents__top__right__box__icon > span:hover {
    cursor: pointer;
}

.footer__contents__bottom {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__contents__bottom__buttons {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.footer__contents__bottom__buttons > span {
    color: rgb(236, 235, 235);
}

.footer__contents__bottom__buttons__button {
    font-size: 13px;
    font-weight: 700;
    color: #666;
}

.footer__contents__bottom__buttons__button > span:hover {
    color: #0088ff;
    border-bottom: 1px solid #0088ff;
    cursor: pointer;
}

.footer__contents__bottom__con {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #888;
}

@media screen and (max-width:768px) {
    footer {
        height: 75vh;
    }

    .footer__contents {
        max-width: 350px;
        gap: 40px;
    }

    .footer__contents__top {
        flex-direction: column;
        gap: 20px;
    }

    .footer__contents__top__left__contact__con {
        font-size: 25px;
        gap: 20px;
    }

    .footer__contents__top__left__location__load {
        width: 320px;
    }

    .footer__contents__top__right__box {
        font-size: 15px;
        gap: 10px;
    }

    .footer__contents__bottom__buttons__button {
        font-size: 12px;

    }

    .footer__contents__bottom__con {
        font-size: 11px;
    }

    .footer__contents__bottom__con__num {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer__contents__bottom__con__num > .hidden {
        display: none;
    }
}
